[2015-08-09 10:53] farming-potatoes opened #3 "Optimize"
Hello. Wasn't sure where to post this. Is there anywhere that explains how your optimize function works? I would love to use it for my website to have it optimize a users code. Is there a way I can extract this function? Thanks

[2015-08-18 13:14] aakilfernandes opened #4 "`constant` functions update contract state"
Real time compiler is too forgiving. The `addBuyer` function shouldn't update the contract since it has the `constant` modifier, but the realtime compiler indicates that it does.

Run Lotto.addBuyer(10,10) then Lotto.getBuyerAddrs(). Works in the realtiem compiler but not locally. Not exactly sure where to submit this issue. Sorry if this is the wrong place.

[code]

[2015-08-18 14:28] chriseth commented on #4
This is the right place, but checking that constant functions do not modify storage is just not implemented yet: https://github.com/ethereum/wiki/wiki/Solidity-Tutorial#subcurrency-example (search for "constant" in that paragraph)

[2015-08-18 14:28] #4 closed, assigned to nobody

[2015-08-19 01:22] aakilfernandes commented on #4
Strange, it is actually enforced in solc (the difference between the realtime compiler and solc is how I found the bug to begin with).

[2015-08-26 13:20] d11e9 opened #5 "Show gas estimated for actions"
tag: feature-request

It would be awesome to show gas estimates for actions taken, in much the same way as you currently show gas estimation for creation.

I find myself compiling and refactoring while checking gas estimates to inform design.

[2015-09-09 17:15] chriseth commented on #3
I am not sure if we are talking about the same thing here.
The "optimize" checkbox activates the ethereum virtual machine bytecode optimizer inside the solidity compiler. If you want to use that, simply pass `true` as the second argument to the compile function. If you want to know how it works internally, [here](https://github.com/ethereum/wiki/wiki/Solidity-Tutorial#internals-the-optimizer) are

[2015-09-09 17:15] #3 closed, assigned to nobody

[2015-09-29 10:06] d11e9 opened #16 "list.txt Improvement"
Would it be possible to change the auto generated `./bin/list.txt` to `./bin/list.js`.

As this will allow users to load browser-solidity directly in their browser over `file:///` etc without having to run a local server (as was previously possible).

Proposed contents of `./bin/list.js`

[code]

[2015-09-29 10:57] #16 closed, assigned to nobody

[2015-10-02 09:45] ethernomad opened #19 "Display address transactions are being sent from"
Sometimes I want to know what address transactions are being sent from in the javascript runtime environment. It's easy to add it temporarily to my contract, but if it could just be displayed automatically on the page it would be great!

[2015-10-02 09:55] d11e9 commented on #19
It is top right `tx.origin` is it not?

[2015-10-02 09:58] ethernomad commented on #19
Ah - I didn't see that before. Is it new?

[2015-10-02 09:58] d11e9 commented on #19
yup :)

[2015-10-02 09:59] ethernomad commented on #19
Cool!

[2015-10-02 09:59] #19 closed, assigned to nobody

[2015-10-02 10:16] ethernomad opened #20 "Order functions?"
In the realtime environment the functions seem to be ordered randomly. This can make it hard to find the right one. Can they either be ordered the same as in the contract, or alphabetically?

[2015-10-05 09:01] ethernomad commented on #5
It already attempts to show gas estimates for functions, but you can't really predict this except for really simple functions.

If it showed how much gas was used when a function was actually executed that would be awesome.

[2015-10-05 09:08] d11e9 commented on #5
@drupalnomad i added this feature to http://github.com/d11e9/universal-dapp :) will try get the change back into browser-solidity when i get a chance

[2015-10-05 10:37] chriseth opened #24 "Display errors correctly for imported sources"
browser-solidity currently imports other files manually and does not use the features provided by the copmiler (due to a missing interface). The result is that errors are not displayed at the right locations.
Change `jsonCompiler` to provide the right interface, so that it does import resolution and reports file names together with line numbers on errors.
Change browser-solidity so that it is able

[2015-10-05 10:52] d11e9 commented on #24
:+1:

[2015-10-06 15:59] chriseth opened #31 "Error messages are not html-escaped"

[2015-10-06 16:07] d11e9 commented on #31
Is this related to: 67ca2eb ?

[2015-10-06 16:09] chriseth commented on #31
exactly :-)

[2015-10-06 16:09] #31 closed, assigned to nobody

[2015-10-06 21:50] chriseth opened #32 "add some new keywords"

[2015-10-07 15:12] d11e9 opened #33 "Upgrade web3.js to latest release"
Previously browser-solidity used a modified version of web3 which exposed `web3.eth.function`, we need to upgrade to the newest release and re-expose this method (hopefully it sitll exists).

related PR: #29

[2015-10-07 17:06] chriseth opened #34 "Automatically deploy and link libraries"
Libraries are visible inside the bytecode. This can be recognised and libraries can be automatically deployed (and their addresses cached).

[2015-10-07 17:11] d11e9 opened #35 "Upgrade ethereumjs-vm to latest"
In order to expose events when running in VM

[2015-10-07 17:26] d11e9 commented on #33
Done in #29

[2015-10-07 17:26] #33 closed, assigned to nobody

[2015-10-07 17:27] d11e9 commented on #20
@drupalnomad feature now merged :)

[2015-10-07 17:27] d11e9 commented on #5
Featureset merged in #29

[2015-10-07 17:27] #5 closed, assigned to nobody

[2015-10-07 21:56] #20 closed, assigned to nobody

[2015-10-08 11:54] ethernomad opened #39 "Add toggle button to hide the right pane"
I'm on a small screen. It would be cool if I could hide the right pane with a single click so I can use the whole window for editing.

[2015-10-08 15:06] d11e9 commented on #39
added in https://github.com/chriseth/browser-solidity/pull/40 among other things

[2015-10-08 15:53] ethernomad commented on #35
Awesome - so there will be a log of events on screen?

[2015-10-08 16:01] d11e9 commented on #35
@drupalnomad yes, there already is if using a web3 provider (not vm) but we need to upgrade to show for vm.

[2015-10-08 16:39] ethernomad opened #41 "Option to use spaces instead of tabs"
A lot of people (myself included) prefer indentation to be 2 spaces instead of tabs. Is it possible for this to be an option?

[2015-10-09 09:56] chriseth opened #43 "sha256 does not work"
It seems that the precompiled contract for sha256 is not implemented. Might be fixed by upgrading the VM.

[2015-10-09 13:56] #35 closed, assigned to nobody

[2015-10-11 19:58] chriseth opened #44 "Option to disable compilation."

[2015-10-11 19:58] chriseth commented on #34
Implemented in #38

[2015-10-11 19:58] #34 closed, assigned to nobody

[2015-10-11 21:01] d11e9 commented on #44
Something to keep I mind for this issue, if compilation does not happen then warnings and errors are not shown

[2015-10-12 08:17] chriseth opened #45 "Compile inside WebWorker thread"

[2015-10-13 01:00] chriseth commented on #45
I got this partly working. Blocking issues:
Chromium: Error when loading the script inside the WebWorker: `Uncaught Error: Uncaught RangeError: Maximum call stack size exceeded`
Firefox: Loading and compiling works (tremendous speed improvement plus caching), but switching versions does not work.

[2015-10-13 08:54] #39 closed, assigned to nobody

[2015-10-13 15:16] #45 closed, assigned to nobody

[2015-10-14 06:18] koeppelmann opened #48 "sender choice is not used"
I tried to interact with a contract but I got the "Error: could not unlock signer account" However, I figured out that the tool was trying to send from eth.accounts[0] although I had selected a different account in the drop down

![bildschirmfoto 2015-10-13 um 23 18 07](https://cloud.githubusercontent.com/assets/2594089/10476240/bbd67062-7200-11e5-9e14-096f878913f7.png)

[2015-10-14 09:38] d11e9 commented on #48
@koeppelmann thanks for reporting it

[2015-10-14 10:17] #48 closed, assigned to nobody

[2015-10-15 04:15] VoR0220 commented on #24
:+1:

[2015-10-15 04:18] koeppelmann opened #51 "Option to to calls against the chain"
Not a bug but a feature request - should they be posted here or should I use another place?
It would be nice to "test" a transaction (to a contract on the blockchain) by first doing a call instead of an transaction.

Also I created an transaction from the interface to a blockchain contract but the gas set was to little. So it should a) calculate the gas costs beforehand or b) just give the option

[2015-10-15 08:09] ethernomad commented on #44
Ideally the red Xs would still appear, but the compilation would not occur when the right pane is hidden.

[2015-10-15 08:11] ethernomad opened #52 "Right pane takes too long to disappear"
It seems to perform a compile when the right pane is hidden as there is a two second delay that does not occur when there are syntax errors.

[2015-10-15 08:37] chriseth commented on #44
Ideally, yes ;-)

[2015-10-15 15:51] VoR0220 opened #53 "Enable compliance with Solidity v1.0.0 && v1.0.1"
For the purposes of legacy code/demos...would this be a difficult thing to do at all?

[2015-10-19 12:55] d11e9 opened #56 "[Bug] Underscores in contract names result in empty bytecode"
Underscores in imported contract names result in output without bytecode.

[code]

[2015-10-19 13:17] chriseth commented on #53
It should be doable to create a js binary for that version.
Basically, it only has to be extracted from an older commit to this repository, but we might not exactly hit a certain version.

[2015-10-19 13:33] chriseth commented on #53
I was able to salvage v0.1.1, but v0.1.0 was compiled in a different way, we have to recompile it if we want to have it.

[2015-10-19 13:38] VoR0220 commented on #53
alright. Thanks for that. Is this in the latest npm update?

[2015-10-19 14:51] d11e9 commented on #53
Yes `solc@0.1.6-1` on npm.

[2015-10-19 14:52] d11e9 commented on #53
hmmm, actually the npm module does not provide a way to explicitly change version. Looking into it.

[2015-10-20 09:21] d11e9 commented on #51
I'm looking to solve the gas cost issues in the `accounts` branch. regarding. Re test/call transactions, looking into it (its hard to add features without making the ui even more complicated) :)

[2015-10-20 13:31] chriseth opened #60 "Background of solidity logo is distracting"
The fact that the solidity logo has a white background suggests that it is the active tab - which might be quite distracting first.

It might be better to move it to the right side and change its background.

[2015-10-20 13:32] #24 closed, assigned to nobody

[2015-10-22 12:08] chriseth opened #61 "Bytecode verification"
We should provide an easy way to verify that the given source code compiled with the given compiler version results in the same runtime bytecode as the bytecode at a certain address on the blockchain.

This of course only works if connected to a real eth node and not only to the in-memory simulator.

[2015-10-25 11:18] chriseth opened #63 "UI: Option to connect to web3 provider at different address."

[2015-10-25 11:44] mtaram commented on #63
This definitely would make it much easier to deploy on testnet.

[2015-10-26 10:23] d11e9 commented on #63
Currently in a branch of mine will factor out into separate PR.

[2015-10-26 13:36] VoR0220 commented on #53
Awesome. Good work guys.

[2015-10-26 13:36] #53 closed, assigned to nobody

[2015-10-28 10:14] d11e9 commented on #63
merged in #64

[2015-10-30 01:14] patcon opened #65 "Add @why3 tag as recognized"
Seeing this on the live version while playing with formal verification:
https://imgur.com/0JGaFQr

[2015-10-31 15:29] chriseth commented on #65
It works for me with version "v0.1.6-2015-10-26", which should have been the latest version at the time you created the issue. Can you check which version you use? Perhaps reloading helps. Otherwise, please post the source code.

[2015-10-31 15:29] #63 closed, assigned to nobody

[2015-10-31 15:30] chriseth commented on #52
Should be fixed. If not, please reopen.

[2015-10-31 15:30] #52 closed, assigned to nobody

[2015-10-31 15:31] chriseth commented on #44
Changed the titles, as I think this is a better solution. This way, we also do not lose the current state if the source is changed.

[2015-10-31 18:47] mtaram commented on #63
Awesome :)
On Oct 31, 2015 8:59 PM, "chriseth" notifications@github.com wrote:

[2015-11-01 02:58] pjsample opened #66 "NPM installation failure"
I'm getting this error when trying to install:

[code]

[2015-11-02 12:18] croqaz commented on #66
Hei, I confirm, I have the exact same error:

[code]

[2015-11-02 12:29] d11e9 commented on #66
Whats the deal with both referencing `0.1.5` ? most recent is `0.1.6-2` as per https://www.npmjs.com/package/solc

it might be worth trying `npm cache clean`

[2015-11-02 12:35] d11e9 commented on #66
You could also try:

[code]

[2015-11-02 16:43] croqaz commented on #66
Hi @d11e9 ,

Indeed `npm install solc@0.1.6-2` works, but `npm install solc` is trying to install version 1.5...

It's really weird.

[2015-11-02 17:58] patcon commented on #65
Ah, sorted it out. Adding a space raised the error. Not sure if tha'ts intended, although I see you did that in your example that you posted (ie. `///@why`)

This raises the error for me:

[code]

[2015-11-02 18:52] d11e9 commented on #66
are you inside a project who's `package.json` specifies to use `0.1.5`? That being said `0.1.5` should still work, will look into reproducing.

[2015-11-03 08:28] croqaz commented on #66
No, I'm not in any project folder, of course.

I go home, uninstall solc@0.1.6 , install again without any version. Same problem, it's trying to install 0.1.5.

I upgraded NPM to latest version `3.3.12` and still the same thing.

**When installing SOLC manually, it's not a problem.** The problem is when i try to install Embark, because it's a dependency and it's failing to install.

[2015-11-03 09:22] chriseth commented on #65
Note that you used `@why` and not `@why3` - does that fix it?

[2015-11-03 19:14] patcon commented on #65
:/

Aaaaand I'm a dolt. Thanks Chris :)

[2015-11-03 19:14] #65 closed, assigned to nobody

[2015-11-27 13:03] chriseth opened #70 "save to github"
it should be possible to load a set of files from a github branch and also save them as a new commit (perhaps even in auto mode).

We could use https://github.com/creationix/js-github for that.

[2015-12-03 13:31] ybbus opened #72 "When using "eth_call" parameters are not encoded in request"
When deploying a contract and trying to call a function the parameters of this function are not inserted into the rpc post request.

This is the signature of the function:
7f92a3fe getMeetingName(uint256)

I call this function with this parameter: 12345

And the post request that the browser-solidity tool generates looks like this:
{"jsonrpc":"2.0","method":"eth_call","params":[{"to":"0x0964a19532

[2015-12-07 07:32] ethernomad opened #73 ""event" should be coloured blue like "function" and "mapping""

[2015-12-08 21:23] #73 closed, assigned to nobody

[2015-12-08 21:23] #32 closed, assigned to nobody

[2015-12-08 21:44] #60 closed, assigned to nobody

[2015-12-09 16:32] ruchevits opened #77 "Abstract contracts should not have create button"
<details>
<summary>

Passing extra parameters (e.g. needed zero - passed one, needed one - passed two) to the ancestor contract causes an exception.</summary>

![case1](http://i.imgur.com/Ve75qg4.png)

[code]

</details>

<details>
<summary>

Not passing any parameters to the ancestor contract which expects at least one causes UI problems.</summary>

[code]

![case2](http://i.imgur.com/LXgkeBq.png

[2015-12-09 16:34] d11e9 opened #78 "Uncaught error during soljson compile"
[code]

Happens when compiling  [/web3-gov/meteor-dapp-boardroom/master/contracts/BoardRoomV2.sol](https://raw.githubusercontent.com/web3-gov/meteor-dapp-boardroom/master/contracts/BoardRoomV2.sol)

[2015-12-09 16:39] chriseth commented on #77
Fixed the first case in github.com/ethereum/solidity#289 - the second case should not have a create button at all (and not only one without text), changed the title of this issue accordingly.

[2015-12-10 14:47] #78 closed, assigned to nobody

[2015-12-15 21:09] aakilfernandes opened #81 "Incorrect return value"
`getMinimumBidForSlot` always returns `0x`

[code]

[2015-12-15 21:29] aakilfernandes commented on #81
Apologies, wrongfully assumed an array of struct defaults to an array of structs

[2015-12-15 21:29] #81 closed, assigned to nobody

[2015-12-17 16:46] axic opened #82 "Include emscripten build instructions"
Can you include either in the readme or as scripts the build scripts used to create the solc*.js ?

[2015-12-17 16:47] axic opened #83 "Split solc into its own project"
I think it would make sense to have solc.js or node-solc its own project as it is being used by others now and not necessarily in the context of browser tools.
- [x] create proper npm package / build instructions
- [x] load binaries from https://github.com/ethereum/solc-bin
- [x] move npm packge to https://github.com/ethereum/solc-js

[2015-12-17 16:52] axic commented on #83
How to keep references to the other files in browser-solidity:
1) use Jekyll to generate the page
2) or use git submodules

[2015-12-17 17:01] axic opened #84 "soljson requestFile callback"
The `soljson` object now has two public methods, `compileJSON` and `compileJSONMulti` to process a JSON and generate Solidity bytecode. If any of them encounter an unmet import, they stop.

Would it be possible to include a synchronous callback to retrieve such a file?

E.g. compileJSON would have a third parameter (function): `cb(path)` to return the file contents as a string.

[2015-12-17 17:02] axic commented on #84
If https://github.com/chriseth/browser-solidity/issues/82 is solved I am happy to look into this. I have written a wrapper which does that import, but it is not optimal as I need to "parse" the input solidity code.

[2015-12-17 17:41] chriseth commented on #84
We are currently redesigning the way imports are done in Solidity: https://github.com/ethereum/wiki/wiki/Solidity-Features#more-flexible-import
Thanks for the suggestion, supplying a callback to resolve missing imports is a good thing to have for soljson.

[2015-12-18 17:08] ghost opened #85 "naming a contract field "size" triggers a bug"
contract Test {
    int size = 0;

[code]

}

When you deploy this contract and call inc() everything works fine, but when you call get() after inc() the returned value is always 0. Changing the name of the field fixes the bug.

[2015-12-21 16:37] ethernomad opened #86 "Logging does not use any gas"
http://etherscan.io/tx/0xd8fef6e84e4dc0dc5e73a0147deb4d51d64e1c16354f4d9a45b266c881f513fa

That transaction uses 1026277 gas, but the same transaction in browser-solidity only uses 169297 gas.

The transaction is logging 12800 bytes.

[2015-12-21 16:39] chriseth commented on #85
The variable `size` in `get` references the return variable declared in the same function, which is initialised to zero, and not the state variable.

[2015-12-21 16:39] #85 closed, assigned to nobody

[2016-01-23 16:40] SilentCicero opened #88 "Increasing Memory Size"
How can I increase the memory size for SOLC? I'm getting a few stack-too deeps on contracts that are really not very big, but use a lot of inter-contractual calls. I remember there are some hard-set memory numbers somewhere, not sure where they are though. I have a feeling I need to recompile the compiler.

[2016-01-24 21:21] aakilfernandes opened #89 "uint176 - Identifier not found or not unique"
I believe the compiler might have some issue around uint176

http://ethereum.stackexchange.com/questions/584/getting-a-solc-error-uint176-identifier-not-found-or-not-unique

[2016-01-27 13:40] chriseth commented on #88
This is not an issue of the runtime (especially not of browser-solidity), but a limitation of the code generator. Please try to reduce the number of local variables or move some variables into a struct. Feel free to ask on gitter for details.

[2016-01-27 13:40] #88 closed, assigned to nobody

[2016-01-28 13:34] chriseth opened #90 "now returns zero"
Set the timestamp of the current block to the current system time.

[2016-01-29 15:10] aakilfernandes commented on #89
Hi, has this been closed because its fixed or because its an upstream issue?

[2016-01-29 20:42] aaronstjohn opened #92 "solc.compile hanging inexplicably on specific, legal, function signature"
I've found that calls to solc.compile are hanging on contracts with very specific signatures.

note: I'm using solc version 0.2.0-1.

The following contract:

[code]

Causes  solc.compile to hang indefinitely when supplied as input.

Yet, with the slight adjustment:

[code]

The same exact call to solc.compile works perfectly fine.

Similarly, I've found that doing any of the following adjustments

[2016-01-29 20:59] aakilfernandes opened #93 "Update npm package"
It looks like there's been a lot of updates not reflected when installing via npm

[2016-01-29 21:09] aakilfernandes commented on #93
Specifically all the bin files

[2016-02-01 11:19] d11e9 commented on #93
@aakilfernandes npm should be up to date as of 0.2.1-1 :)

[2016-02-02 15:38] thejdavid opened #95 "Error encoding arguments: SyntaxError: Unexpected token x"
Hello,

I'm getting the error Error encoding arguments: SyntaxError: Unexpected token x  whenever i try to input an address type. Is there anything i'm missing ? i doesn't bug when passed as "address"(string) but as it is a string it obviously not working as intended.

[2016-02-03 03:18] ThePiachu opened #96 "Add a warning if a modifier doesn't contain "_" in function body"
I've been writing some test scripts in the Browser Solidity and wondering why the actual contract didn't operate as I expected it. Turns out I didn't notice my modifier should have "_" where I want the code to be executed. Perhaps it would be useful to add a warning to the editor if a modifier function doesn't have the underscore in its body to bring developer attention to that functionality.

[2016-02-03 14:23] chriseth commented on #96
Yes, that is a good one! Can you think of a way to disable the warning if it is actually really intended?

[2016-02-03 14:53] chriseth commented on #95
You have to enter addresses as `"0x1234...000"`, i.e. as javascript strings. Can you provide specific examples?

[2016-02-03 20:15] ThePiachu commented on #96
Maybe if the user dismisses the warning, it will just be noted to the side as "Suppressed 1 warning, click here to unsuppressed".

[2016-02-03 20:23] chriseth commented on #96
Ah sorry, I did not see we are in browser-solidity here. The warning should of course be at the compiler level, and on the UI you cannot really correlate warnings between different compilations of the same or changed source code, so suppressing the warning should be done at the source level. But I think we can do without that for now, modifiers without `_` should be extremely rare.

[2016-02-04 10:21] thejdavid commented on #95
in the end It seems the issue was caused by another sub contract not accepting the address. closing

[2016-02-04 10:21] #95 closed, assigned to nobody

[2016-02-07 10:47] gaetanocaruana commented on #51
any updates on this please?

[2016-02-13 05:26] aakilfernandes opened #101 "Compiler uses too much stack"
The following won't compile on my local machine. Solc simply gets "stuck" and does not respond

contract AliasReg {
    mapping(address=>bytes32) addrToAliasMap;
    mapping(bytes32=>address) aliasToAddrMap;

[code]

}
contract Infosphere{

[code]

}
contract Keystore{

[code]

}

contract OpenStore{

  mapping (address => mapping(bytes32 => Datum)) data;

  struct Datum {
    bytes value;
    uin

[2016-02-13 16:44] aakilfernandes commented on #93
@d11e9 The bin file only contains soljson-latest.js. Shouldn't it also contain previously compiled versions?

[2016-02-13 17:11] aakilfernandes commented on #101
Note, this happens on v0.2.1-1, but not when I downgrade to v0.1.6

[2016-02-13 17:12] chriseth commented on #101
Is it the compiler itself or only the optimizer? Could you provide a github gist with the source code?

[2016-02-13 17:33] aakilfernandes commented on #101
I've tried with both optimization off and on, same problem. Are you looking for the solidity contract source or the solc call?

[2016-02-16 09:42] chriseth commented on #101
No problems with solc for me. Which compiler do you use? Version `v0.2.1-1` looks like the npm compiler. How do you call it exactly?

[2016-02-16 09:48] chriseth commented on #101
Ah, sorry, I did not see this is browser-solidity. It seems to be an issue with out-of-stack in the runtime. We will investigate.

[2016-02-18 18:34] chriseth commented on #89
This was fixed some weeks ago.

[2016-02-18 18:34] #89 closed, assigned to nobody

[2016-02-19 07:43] dominicwilliams opened #103 "Nasty compiler bug"
This cost me some hours, lol

[code]

[2016-02-19 08:23] croqaz commented on #93
Please update package to latest 0.2.2 ?

Need this :)

Tnx!

[2016-02-19 15:49] chriseth commented on #103
Thanks for the bug report! Could you please post the full source, potentially maximally stripped down plus the expected and observed behaviour, compiler version and options (optimizer used / not used)?

[2016-02-19 16:58] dominicwilliams commented on #103
Hi it's solc 0.2.1-1, which is a dependency of the latest truffle.

I can't post the full project source yet unfortunately (company plans to release a complete working system later) but will try later today to reproduce the bug using standalone example code.

Nb1. looks like solc is treating uint64=uint64 as a reference assignment. Might be easy to see in original C++ source. Alternatively, wonder

[2016-02-20 01:57] kartojal opened #104 "Error: Intrinsic gas too low"
im trying to "suicide(owner)" via this function

[code]

but in browser-solidity when i "press" and call killContract() function , this happens:
Error: Intrinsic gas too low

i'm connected to my own geth node with testnet Morden, fully synced. All other functions of the contract works like a charm.

How can i get rid of that error? can be a bug?

[2016-02-20 18:54] d11e9 commented on #93
@croqaz see: PR #105

[2016-02-22 18:08] aakilfernandes opened #106 "Incorrect different number of arguments error"
`Error: Different number of arguments in return statement than in returns declaration`

Thrown here:

https://github.com/SafeMarket/grunt-infosphere/blob/infosphered-getters/contracts/simple/infosphered.sol#L55-L57

Which calls:

https://github.com/SafeMarket/grunt-infosphere/blob/infosphered-getters/contracts/simple/Infosphere.sol#L43-L45

Note this seems to happen with bytes and strings, but no

[2016-02-22 19:19] dominicwilliams opened #107 "Browser crashes when allocating empty dynamic array"
Reproduce using...

[code]

[2016-02-23 20:31] chriseth opened #108 "`import "./filename";` should work"

[2016-02-23 20:32] chriseth commented on #106
This is caused by the fact that dynamic types cannot be returned from function calls (limitation of the EVM). Such parameters are removed from the function signature. This can only be fixed by a hard fork of the protocol.

[2016-02-23 20:32] #106 closed, assigned to nobody

[2016-02-23 20:34] chriseth commented on #103
Sorry, my previous comment was probably phrased unclearly. Please provide a complete source (i.e. full contract) that compiles and shows the error, potentially as short as possible.

[2016-02-23 20:44] aakilfernandes commented on #106
Got it. Thanks.

[2016-02-24 05:08] zach-is-my-name opened #109 "Editor: Make line length rule configurable"
The vertical line bisecting the work space is distracting in my case.  Is there a way of implementing a toggle switch for it?

Please see my Stack Exchange [question](http://ethereum.stackexchange.com/questions/1560/whats-the-purpose-of-the-vertical-rule-dividing-the-work-space-in-browser-solid/1566#1566) for screenshot and further description.

[2016-02-24 15:51] aakilfernandes opened #110 "Use NO_DYNAMIC_EXECUTION in compilation (removes "eval" which is considered evil)"
Looks like there's at least one eval in the browser solidity code. It makes me nervous having evals anywhere. Is it possible to use a different technique?

Ps, not sure if this is an upstream issue. I can move there if it is.

https://raw.githubusercontent.com/chriseth/browser-solidity/gh-pages/bin/soljson-latest.js

[2016-02-24 17:03] chriseth commented on #110
There seems to be a compiler flag to fix this.

[2016-02-25 22:26] aakilfernandes opened #111 "string4/string32 undeclared identifier"
I'm trying out the generic call method example, which does not compile

https://github.com/ethereum/wiki/wiki/Solidity-Features#generic-call-method

[code]

[2016-02-28 06:09] ethernomad opened #112 "Pressing Crtl+T in Firefox re-arranges characters in the editor instead of opening a new tab"
This behaviour is sort of weird. On Chromium it is fine. Crtl+T opens a new tab.

But on Firefox if I click in the text editor area. Ctrl+T re-arranges the characters around the cursor.

[2016-02-29 14:04] ethereumdegen opened #113 "Uncaught TypeError: soljson.cwrap is not a function"
I get error 'Uncaught TypeError: soljson.cwrap is not a function' and it points to the following line:
`var compileJSON = soljson.cwrap("compileJSON", "string", ["string", "number"]);`

I am running this in rails using browserify-rails and am using node 4.3.1

[2016-03-01 15:06] chriseth commented on #113
Could you check what `soljson` is? It seems that the main module is not loaded correctly.

[2016-03-01 15:06] chriseth commented on #112
The shortcut is captured by the editor we use, I'll see what I can do.

[2016-03-01 15:08] chriseth commented on #111
The "features" page is not meant as an up to date list of features but rather for historical reference. Please use `bytes4` or `bytes32` instead of `string4` and `string32`.

[2016-03-01 15:08] #111 closed, assigned to nobody

[2016-03-01 16:56] chriseth commented on #110
Added the compiler flag, the next binary should be available soon (I think it needs an actual change in the source). Please check in some days.

[2016-03-01 17:45] aakilfernandes commented on #111
Will do. Thanks.

[2016-03-01 17:48] aakilfernandes opened #114 "Non-numeric byte strings cause a crash"
Compiles:

[code]

Crashes:

[code]

[2016-03-01 17:49] aakilfernandes commented on #110
:+1:

[2016-03-03 14:46] croqaz commented on #113
Same issue here, when importing solc from Electron;

console.log(soljson); // Object {}

[2016-03-03 14:56] chriseth commented on #110
Seems to be fixed, at least I cannot find `eval` in the js file.

[2016-03-03 14:56] #110 closed, assigned to nobody

[2016-03-03 14:58] chriseth commented on #113
@croqaz @admazzola please give a bit more info about your environment. It seems that the `require` call fails.

[2016-03-03 15:21] croqaz commented on #113
[code]

Install electron-prebuilt; Use this HTML in main BrowserWindow;

[code]

Hack node_modules/solc/index.js to add `console.log( soljson )`;

![solc2](https://cloud.githubusercontent.com/assets/1748317/13498853/4f515d48-e164-11e5-9da9-1a6969b37dec.png)

In command line, electron writes this:
electron .
[Emscripten Module object]
[Function: cwrap]

So apparently, this works on the server side,

[2016-03-03 15:43] frozeman commented on #113
Note that electron when you have `node-integration` turned on in the browser window (default on) then electron provides a require, which has nothing to do with the require you may want.

turn node integration of using:

[code]

[2016-03-04 00:09] aakilfernandes opened #115 "browser documentation"
Hi, how do I actually use this in a browser? I don't see a dist folder. Does it need to be browserified? Additional documentation would be helpful.

[2016-03-04 13:38] chriseth commented on #115
Documentation is here: https://github.com/chriseth/browser-solidity#browser-solidity
This is both a html user interface and a compiler-only npm package.

[2016-03-04 14:08] aakilfernandes commented on #115
Id like to use the compiler client side (similar to how you do it). That documentation only works in node environments.

Sent from my iPhone

[2016-03-07 10:32] holgerd77 opened #116 "Serve binaries from different repository"
Hi, I thought I could maybe contribute a bit to the UI of `browser-solidity` and wanted to clone the repo but actually gave up due to downloading times and volume (working on mobile conn right now).

Would it be possible to extract the `bin` folder and serve soljson files from Amazon S3? I think that would generally ease contribution workflow and make things fluffier.
- [x] copy binaries to https:

[2016-03-07 14:12] chriseth commented on #116
I'm pretty sure github already uses S3, but we could profit from separating code and binaries, yes.

[2016-03-11 14:34] chriseth commented on #43
Seems to be fixed after vm upgrade.

[2016-03-11 14:34] #43 closed, assigned to nobody

[2016-03-11 23:54] chriseth opened #117 "Update ethereum-js"
It seems that the version of ethereum-js we are using does not support DELEGATECALL.

[2016-03-17 21:50] ricmoo commented on #82
I too would like this. I'm trying to add some additional functionality to the compiler, but don't know to build it once I've added my changes.

[2016-03-18 11:58] chriseth commented on #82
We are trying to simplify the dependencies between the build targets, which would greatly improve the emscripted build experience. Here is what we have for now (but expect it to change soon):

[code]

[code]

[code]

[code]

[code]

[2016-03-18 12:00] chriseth commented on #84
The callback is actually there now, but I did not manage to write the contents of the file into memory due to some reason. In general, I don't think there is a big use case for fetching file contents synchronously, but if you have it, I would be happy if you could take a look!

[2016-03-18 12:09] axic commented on #82
👀

Would you mind including that as a shell script in the repo? Changes to it can be then tracked too, when you eventually reduce the complexity.

[2016-03-18 12:10] axic commented on #84
Sure, happy to check the code - where can I find it?

Reading my original command I think I meant that `compileJSON` remains synchronous from the caller's perspective, but the callback for includes is of course asynchronous.

[2016-03-18 12:12] axic commented on #83
@chriseth I think this still makes sense, to split `solc` and browser-solidity.

Happy to help if needed

[2016-03-18 12:16] axic commented on #117
I have actually looked at making `universal-dapp` compatible with the current `ethereumjs-vm` and there were couple of changes required. You should definitely use the latest though as there were countless bug fixes. I think you're still using a version back from October?

[2016-03-18 13:27] axic commented on #117
Well, I guess it was time dusting down my patch: https://github.com/d11e9/universal-dapp/pull/9

[2016-03-18 14:33] axic commented on #117
Seems like maintenance of universal-dapp moved into here, so made a PR against this repo: https://github.com/chriseth/browser-solidity/pull/119

[2016-03-18 16:05] chriseth commented on #84
The callback for fetching the content of files has to be synchronous, mostly because of the way solidity is compiled to javascript, at least we would need some features from emscripten to enable that (I think they exist, but could be hard to integrate). If your file-reading-callback is not synchronous, then it is probably not worth taking a look at that.

What you _could_ implement, though, is jus

[2016-03-22 13:38] mtbitcoin opened #120 "Question. How to catch exceptions in solc nodejs"
Is it possible to catch exceptions when running the solc nodejs?

var solc = require('solc');
var input = "contract xExceptionFunction { functionXXError g() {} }";
var output = solc.compile(input, 1); // 1 activates the optimiser
for (var contractName in output.contracts) {
    // code and ABI that are needed by web3
    console.log(contractName + ': ' + output.contracts[contractName].bytecode);

[2016-03-23 12:00] chriseth commented on #120
Could you please be a bit more specific? It is a known problem that emscripten kind of messes with the exception handler of nodejs. Is that what you are talking about?

[2016-03-23 12:04] mtbitcoin commented on #120
I trying to see if I can catch an exception by doing something like this, but the exception never gets called in nodejs.

var solc = require('solc');
var input = "contract someBadFunctionHere { functionXXError g() {} }";
try {
    var output = solc.compile(input, 1); // 1 activates the optimiser
    for (var contractName in output.contracts) {
    // code and ABI that are needed by web3
    consol

[2016-03-24 03:46] mtbitcoin opened #121 "FeatureRequest: Additional gist integration parameters"
At the moment its possible to do something like https://chriseth.github.io/browser-solidity/?gist=f9aa1278818ef2f022fd , which is extremely helpful. But what would even be better is the ability to also set the "optimizer" and "compiler versions" via querystring. So it should end up something like were we can past both the compiler version and optimization settings

https://chriseth.github.io/brows

[2016-03-24 07:51] msfeldstein commented on #104
Did you ever figure this out?  I'm seeing something similar and my guess is that it's working correctly, if it throw's it should fail right?  I think it might just be that it's treating throw like a VERY expensive operation, and failing that way.

[2016-03-24 09:45] d11e9 commented on #121
:+1:

[2016-03-29 15:18] chriseth commented on #121
@d11e9 would you like to implement that? :-)

[2016-03-29 15:19] chriseth commented on #120
Where does the excption come from? I don't see a `throw` in your code. Can you provide a stack trace / error log?

[2016-03-29 15:25] chriseth opened #122 "make oraclize imports work"

[2016-03-29 18:58] d11e9 commented on #121
@chriseth sure.

[2016-03-30 01:45] mtbitcoin opened #123 "Line breaks changes bytecodes?"
I am not sure if this is a feature or an issue. But I noticed that on certain contracts the line breaks changes the contract bytecode. Is this a feature or an issue. The following settings and contract was used :
- latest compiler (2016-03-18), optimize enabled
- https://chriseth.github.io/browser-solidity/?gist=3ce55235bc7def2b9edda3c76b6a8b7d

If you modify the contract above by adding additiona

[2016-03-31 18:12] androlo commented on #123
On a related note, it also messes up the assembly output (at least for me in chrome, with my resolution etc.).

[code]

Type that in, then look at assembly. Now add an empty line between contract definition and function, and it gets much harder to read.

[2016-03-31 18:13] androlo commented on #123
It's as if annotations are being put on a separate, new line, rather then to the right of the instruction.

[2016-03-31 18:15] androlo commented on #123
Oh. Some escaped newline characters in there as well. I don't see those in the console.

[2016-04-04 09:09] chriseth opened #125 "Use proper npm dependency / build process"
- [x] use proper npm build process to fetch dependencies and build website (gh-pages)
- [x] create travis (or jenkins) job to auto-build the website
- [x] remove binaries and move website to ethereum/browser-solidity (the idea is to keep the git small)
- [x] make npm package private (not much sense in publishing, we mostly use the build system)
- [x] change readme and add link to gh-pages
- [x] ad

[2016-04-04 10:17] chriseth commented on #117
Fixed in https://github.com/chriseth/browser-solidity/pull/119 - thanks a lot, @axic !

[2016-04-04 10:17] #117 closed, assigned to nobody

[2016-04-05 12:35] axic opened #131 "Support fallback function"
Right now I do not see a button for the fallback function. Even with sending value=0 would be useful to see how the rest of the code executes.

[2016-04-06 01:11] aakilfernandes commented on #115
Hi, any thoughts on this?

[2016-04-06 06:42] d11e9 commented on #115
@aakilfernandes you can use browserify to use the npm package clientside.

OR have a look at the code, and see how its used in the browser main file `aap.js` https://github.com/piratechest/piratechest-raid.git
https://github.com/chriseth/browser-solidity/blob/gh-pages/assets/js/app.js#L453

which is pretty much the same way its used in the small npm `index.js https://github.com/piratechest/piratec

[2016-04-06 14:38] axic opened #132 "Support escape characters in source code"
`bytes memory x = "\x12\xbc";` or the same with `string` will fail with an error:

[code]

It compiles with `solc`, when not in the browser.

[2016-04-06 15:03] aakilfernandes commented on #115
Trying out browserify, but struggling with it. Looks like something is funky where `require('./bin/soljson-latest.js')` returns undefined

I took a look at the code in the example. I'm hesitant to follow that route since it seems to add a bunch of globals without any documentation.

[2016-04-07 09:56] chriseth commented on #82
The script can now  be found at `webthree-umbrella/webthree-helpers/scripts/build_emscripten.sh`

[2016-04-07 09:56] #82 closed, assigned to nobody

[2016-04-07 12:47] d11e9 commented on #121
Addressed in above PR. #133

[2016-04-07 12:54] ealkalai opened #134 "Function parameter parsing for Arrays/Mappings bug when connected to Web3Provider endpoint"
I have an array (any kind) and I want to access its values. When I do this through the virtual machine, everything seems to work fine.
However, when I am connected to an ethereum web3 provider endpoint I only receive the first element. After some digging around, I noticed that the json request that is sent is wrong no matter what is the index I place in the text box. It's always zero (0).

[2016-04-07 13:09] d11e9 commented on #121
Example gist output with url: https://gist.github.com/anonymous/2b89b986cc178b0b548d94cbe7dfe692

[2016-04-09 19:50] Arachnid opened #137 "Incorrect gas costs for some functions"
For the following contract:

[code]

Creating the contract, then executing the included function with sample arguments (say, "fooooo", "oo", 0) shows very high gas cost on the order of 25k. Running the function a second time returns a much lower figure, on the order of 1000 gas. Neither figure matches up with the result from the morden testnet, which reports a figure on the order of 2500 gas.

In

[2016-04-09 20:13] Arachnid commented on #137
Simple functions returning string also cause this:

[code]

A simple function returning uint doesn't.

[2016-04-10 18:26] #120 closed, assigned to nobody

[2016-04-11 12:29] #122 closed, assigned to nobody

[2016-04-11 12:29] chriseth commented on #122
Oraclize already works if you use the proper url to their github repository.

[2016-04-11 13:15] chriseth commented on #116
Use this repository: https://github.com/ethereum/solc-bin

[2016-04-12 01:33] mtbitcoin opened #138 "How to pass constructor arguements during contract compilation in nodejs ?"
For certain contracts like this one https://chriseth.github.io/browser-solidity/?gist=711084cfc030da907a9a8a249228a871 , it accepts the following arguements :

-- under the 'order' contract --
var _token = /\* var of type address here _/ ;
var _weiPerToken = /_ var of type uint256 here _/ ;
var _decimalPlaces = /_ var of type uint256 here */

In nodejs, is there way to programatically pass in thes

[2016-04-13 10:43] winsvega commented on #116
https://github.com/ethereum/solc-bin/pull/1

[2016-04-13 16:49] chriseth commented on #138
You have to use web3.js for that and you do not do it during compilation. You pass constructor arguments by appending the ABI-encoded values to the bytecode.

[2016-04-13 17:47] mtbitcoin commented on #138
thanks

[2016-04-13 17:47] #138 closed, assigned to nobody

[2016-04-15 15:16] chriseth commented on #116
Updating the npm will be done in a separate task, the one that splits off the npm package itself.

[2016-04-15 15:39] axic commented on #131
Both are implemented now 👌

[2016-04-15 15:39] #131 closed, assigned to nobody

[2016-04-15 15:55] #116 closed, assigned to nobody

[2016-04-15 18:18] #93 closed, assigned to nobody

[2016-04-15 18:41] chriseth commented on #92
Unable to reproduce. In the meantime, we changed some parts of the tokenizer, so this could be the reason. Please reopen if the problem persists.

[2016-04-15 18:41] #92 closed, assigned to nobody

[2016-04-15 19:31] chriseth commented on #66
Closing this, embark now installs 0.1.6 for me (which is still ancient...).

[2016-04-15 19:31] #66 closed, assigned to nobody

[2016-04-19 04:31] ricmoo opened #146 "Other Legacy Versions?"
Heya!

I was wondering if there are other released versions of solidity that don't have a corresponding `soljson`?

I'm trying to verify the etherID.org contract and have been having some issues. I've got a script that compiles it against all version, and it comes _close_, very, ridiculously close, and I was wondering if maybe it makes sense to you.

Basically after compiling, I run this function

[2016-04-19 07:13] ricmoo commented on #146
I've expanded the EVM code, if this helps. Perhaps the ordering of output functions was changed?

[compiled.txt](https://github.com/chriseth/browser-solidity/files/225391/compiled.txt)
[expected.txt](https://github.com/chriseth/browser-solidity/files/225392/expected.txt)

Here is the diff:

[code]

[2016-04-19 09:59] chriseth commented on #146
Your evm assembly representation is a bit strange, but it seems that the code is actually different. In one version, some value is loaded from storage position 0, in the other, it is loaded from position 1.

[2016-04-19 13:49] StevenBerryman opened #147 "The VM reports this contract runs out of gas to deploy"
I have attached a copy of a contract which the VM reports runs out of gas when deployed. I upped the gas in the javascript app.js with no luck. The problems seems to be in the concatenation of the bytecodes with the contract creation string. It could be because the bytecode string is too long to be concatenated in this way. I think the reason it reports out of gas is that part of the string never

[2016-04-19 16:42] chriseth commented on #147
The source you linked contains several copy-past errors, but after resolving them, I can deploy the contract with a bit more than 1 million gas. Does the creation run out of gas or some of the functions?

[2016-04-20 13:36] StevenBerryman commented on #147
Sorry about the copy and paste errors. It's bit strange as I can take the string from the browser and paste it into my geth session and all works fine so it must be something to do with streaming it over the RPC connection. Do you know if there is anyway I can see what was run in my geth session from the RPC connection? Nothing gets written to the history so I'm not actually sure what it run and a

[2016-04-21 10:04] #121 closed, assigned to nobody

[2016-04-21 11:13] chriseth commented on #132
Probably duplicate of https://github.com/chriseth/browser-solidity/issues/114

[2016-04-21 11:43] axic opened #150 "Move to browserify and proper package dependencies"
Would be nice to include all these via proper npm dependencies:
- ace.js
- the minified base64 code in front of app.js
- ethereumjs(-vm)
- web3

[2016-04-21 12:48] axic commented on #132
This is part of the compiler output JSON:

[code]

Probably jQuery's parseJSON can't properly handle those UTF8 fields?

**Edit**: that indeed looks a bit broken.

[2016-04-21 12:53] axic commented on #132
For the input of `bytes memory x = "\x12\x0c";`, the appropriate JSON piece will be:

[code]

[2016-04-21 13:38] axic commented on #150
Duplicate of #125

[2016-04-21 13:38] #150 closed, assigned to nobody

[2016-04-21 13:39] axic commented on #125
Especially these parts would be nice to have independently browserified:
- ace.js
- the minified base64 code in front of app.js
- ethereumjs(-vm)
- web3

[2016-04-21 16:14] chriseth commented on #132
What does the compiler do about `var x = "\\x01";`?

[2016-04-22 14:42] axic commented on #132
It seems to be a double escape on both JS and the compiler as it remains a string of `\\x01`.

[2016-04-22 22:06] chriseth commented on #147
You can try actually connecting browser-solidity with geth (or open browser-solidity inside mist) and create contracts and execute functions using the buttons inside browser-solidity.

[2016-04-26 12:04] chriseth commented on #83
Preliminary code is here: https://github.com/ethereum/solc-js/tree/solc-core

[2016-04-26 12:18] d11e9 commented on #83
Could we not have maintained the git history 😟

[2016-04-26 12:21] chriseth opened #152 "Warning about unbounded gas usage"
Browser-solidity should show a warning in the source if a function has unbounded gas requirements (this already caused some problems several times). For the fallback functions, this warning should already be triggered if the gas requirement goes beyond the stipend.

One problem we might have here is that gas required by sub-calls is not taken into account by the estimator.

[2016-04-26 13:45] axic commented on #83
@d11e9 yep, @chriseth was concerned about the repo size and I didn't find a proper way to purge unneeded references (i.e. removing the binaries from the git history didn't fully purge them from the git objects tree)

[2016-04-27 00:17] chriseth commented on #83
@axic that is unfortunate. We should definitely keep the history for browser-solidity (i.e. the html app).

[2016-04-28 13:54] czepluch opened #156 "Wrong output for simple static array return"
If this code is run in browser-solidity with for example 1 and 2 as arguments, a wrong output is shown.

[code]

output `1. uint256[2] a: 1, 0`, but it should be `1. uint256[2] a: 1, 2`
The raw output has the correct output though.

[2016-04-29 14:10] redsquirrel opened #157 "Where does soljson.js come from?"
From what I understand, `soljson.js` is generated from C/C++ code. Is that right?

I've tried (in vain) to find how `soljson.js` is generated, or where it's generated from. Can anyone point me in the right direction?

Hopefully the answer isn't super-obvious! 😊

[2016-04-29 16:00] chriseth commented on #157
Basically this script is used to compile it: https://github.com/ethereum/webthree-helpers/blob/develop/scripts/build_emscripten.sh

[2016-04-29 20:34] redsquirrel commented on #157
Thanks @chriseth!

[2016-04-29 20:34] #157 closed, assigned to nobody

[2016-04-29 23:05] patcon opened #160 "Allow browser search to function for strings outside active code view (bind to CTRL+F)"
Ran into a little bit of confusion when CTRL+F didn't find things I expected it too. I'm sure I'm not alone :)

[2016-05-03 11:50] axic commented on #156
Thanks @czepluch, this seems actually to be a bug in ethereumjs-abi. See https://github.com/ethereumjs/ethereumjs-abi/issues/13

[2016-05-03 11:59] axic commented on #90
Other block header fields worth considering:
- coinbase
- block number
- difficulty
- block gas limit

[2016-05-03 11:59] axic commented on #107
@dominicwilliams is this working via RPC on geth?

[2016-05-03 14:07] Schaeff opened #162 "Impossible to revert changes using cmd+Z"
Hi!
I'm pretty sure this used to work just as it does in a regular text field.

[2016-05-03 16:34] mtbitcoin commented on #123
looking back this issue could be related to the ... "AST nodes are identified by their raw pointers, if we iterate over data structures, different raw pointers might result in different iteration order"

One possible explanation is when the line breaks are introduced, it forces a recompile which produces slightly different byte code not because of the line break itself but the AST issue above.

[2016-05-04 20:30] VoR0220 opened #165 "Enable ctrl+d for multiple selections of the highlighted field"
This is useful in editting code.

[2016-05-04 20:31] VoR0220 opened #166 "Enable call to link libraries by address in the solidity compiler."
Perhaps we can link contracts by their addresses outside of the current working directory and enable ourselves to search for them by their contract address. Simply by replacing the code with the address and searching for the '0x' we then switch the context to look for addresses in the chain.

[2016-05-05 15:13] tcoulter opened #167 "solc package greedy on exception handling, causes extra error information in stack traces in Node"
After compiling with browser solidity in Node, all uncaught exceptions (i.e., bad code or application errors) will result in an error message similar to the following:

[code]

Ignore the actual error message ("TypeError: ...") -- it doesn't matter in this case. However, notice the stack trace is prefixed with a long line of extra code. This extra code obfuscates the error message and makes it har

[2016-05-05 20:09] redsquirrel commented on #167
When I run `process.removeAllListeners("uncaughtException")` after the `require` but before `solc.compile`, the wall of error-text does no longer appears.

[2016-05-05 20:18] tcoulter commented on #167
Interesting. I made an assumption - that `compile` was the culprit. In that case `solc` likely shouldn't rely on `uncaughtException`.

[2016-05-06 16:36] #83 closed, assigned to nobody

[2016-05-06 17:01] chriseth commented on #125
Preliminary work here: https://github.com/ethereum/browser-solidity/tree/npmify

[2016-05-10 14:58] axic commented on #82
As a reference, here's the actual link: https://github.com/ethereum/webthree-helpers/blob/develop/scripts/build_emscripten.sh

[2016-05-10 14:59] axic commented on #157
A cross-reference for those trying to find it: #82

[2016-05-10 15:14] axic commented on #167
Would be nice to solve this, I was always annoyed by that.

The reason for that code seems to be a bit more complex. The catch for `uncaughtException` is in the node.js specific part of [Emscripten's preamble code](https://github.com/kripken/emscripten/blob/07b87426f898d6e9c677db291d9088c839197291/src/shell.js#L125).

All the relevant sources:
- C compiler code: https://github.com/ethereum/solidit

[2016-05-10 15:22] axic commented on #146
@chriseth could that be caused by the problem https://github.com/ethereum/solidity/pull/536 fixes? Or perhaps they have swapped two method arguments?

@ricmoo if that is the case you have to run the same version of the compiler you have identified several times and see if it comes up with the same code.

[2016-05-12 23:06] axic commented on #114
Can you please elaborate what crashing means? Are you seeing the same problem as in #132?

@aakilfernandes tried with 0.3.2 of solc (not solc-js or browser-soldity) and it works. Is it still crashing for you?

[2016-05-12 23:35] axic commented on #132
@chriseth Did a bit more testing with this.

The output via `solc` (via `-o . --ast-json`):

[code]

This is the JSON generated by the ASTJsonConverter and the output seems invalid: \u0012 as a text followed 0x80 as a raw value.

The output via `solcjs` (saved the output of `compileJSON` directly to a file, without trying to JSON parse it):

[code]

As it can be seen that non-Unicode/non-ASCII out

[2016-05-12 23:54] axic commented on #84
This is fixed now.

[2016-05-12 23:54] #84 closed, assigned to nobody

[2016-05-12 23:57] axic commented on #86
Do you have a sample source code which exhibits this problem?

[2016-05-16 05:57] AustP commented on #113
I'm having this same issue. I am trying to include solc inside of an Atom package. (Atom runs on electron but I have no control over `node-integration`.) The require call to `soljson.js` always returns an empty object.

[2016-05-18 17:36] aakilfernandes commented on #114
@axic I'm referring to browser solidity https://chriseth.github.io/browser-solidity/#version=soljson-v0.3.2-2016-05-17-0a37072.js&optimize=true

[2016-05-18 17:36] aakilfernandes commented on #114
No error is given and I can see erros in the js console

[2016-05-18 21:59] ghost commented on #162
yes same issue here, please bring back ctrl+z (PC). Great tool. But painful without the undo as it used to :)

[2016-05-18 23:34] #90 closed, assigned to nobody

[2016-05-18 23:52] #162 closed, assigned to chriseth

[2016-05-19 00:11] axic commented on #114
Can you copy paste those errors please?

[2016-05-19 00:54] #156 closed, assigned to nobody

[2016-05-20 12:36] #125 closed, assigned to nobody

[2016-05-20 18:06] axic commented on #137
Fixed in https://github.com/ethereum/browser-solidity/pull/19.

The reason there is a difference between `uint` and `string` is the in the latter case Solidity still uses the identity contract and that triggers the extra fee on first call as explained in the fix.

[2016-05-21 15:10] axic commented on #115
@aakilfernandes perhaps you are running into the same issue as here: https://github.com/chriseth/browser-solidity/issues/113 ?

[2016-05-21 16:15] aakilfernandes commented on #114
[code]

![screen shot 2016-05-21 at 12 15 15 pm](https://cloud.githubusercontent.com/assets/1577353/15449505/bfcc8f76-1f4d-11e6-95b3-062b50aa632f.png)

[2016-05-21 18:09] axic commented on #114
@aakilfernandes I see.

It is two problems:
- Catch exceptions in JSON parsing of the solc response (I thought I've had a PR for this - will do it later)
- And the same problem as described in #132. (Even though it was reported later, that thread has more details available.)

[2016-05-24 08:59] #137 closed, assigned to nobody

[2016-05-24 15:49] axic commented on #113
@Denton-L perhaps it makes sense documenting @frozeman's tip in https://github.com/ethereum/solc-js?

[2016-05-24 15:50] axic commented on #115
@aakilfernandes also solc-js has been moved to its own repo: https://github.com/ethereum/solc-js. It has a more comprehensive README too.

[2016-05-24 15:51] axic commented on #152
Isn't this an issue for the solidity repo instead?

[2016-05-24 16:04] chriseth commented on #152
Might be, but this is a feature for browser-solidity.

[2016-05-24 16:10] aakilfernandes commented on #114
Got it, will follow #132

[2016-05-24 16:10] #114 closed, assigned to nobody

[2016-05-24 17:46] Denton-L commented on #113
Alright, will do so.

[2016-05-25 07:58] #108 closed, assigned to nobody

[2016-05-25 08:09] #113 closed, assigned to frozeman

[2016-05-26 16:55] axic commented on #132
https://github.com/ethereum/solidity/issues/603 explains this issue at the root cause, closing this in favour of it.

[2016-05-26 16:55] #132 closed, assigned to nobody

[2016-05-26 17:02] axic commented on #167
@tcoulter @redsquirrel did you had a chance to check in Emscripten if there's a proper solution to this?

[2016-05-26 17:12] redsquirrel commented on #167
@axic No, I'm still using `removeAllListeners`. Haven't taken the time to investigate more deeply.

[2016-05-26 17:14] tcoulter commented on #167
Same. I just added this to Truffle, removing the listener right after requiring `solc`:

[code]

I keep a reference to the listener and add it back before compiling, and remove it after compiling, just in case it's needed.

[2016-05-26 17:18] axic commented on #167
Would be nice to find a proper solution and have it included in https://github.com/ethereum/solc-js. The above seems very node specific and wouldn't possible work well in the browser :smiley:

[2016-05-26 17:18] tcoulter commented on #167
Agreed.

[2016-05-27 16:25] axic commented on #56
I cannot reproduce this with the latest solc / browser-solidity.

@d11e9 is this still an issue for you?

[2016-06-01 03:58] ed-ilyin commented on #147
I have similar problem when trying to deploy contract thru Web3 Provider geth, deployment runs out of 1000000 of gas when more then 2000000 is needed:
http://ethereum.github.io/browser-solidity/#version=soljson-latest.js&optimize=true&gist=54a6df466349f65940f39d55aa5ee7f2
To reproduce deploy through Web3 Provider OylooBet contract with following parameters:
"Who will be the next president of USA?"

[2016-07-14 16:20] axic commented on #147
@edvail this was solved by https://github.com/ethereum/browser-solidity/pull/125

I think it is safe to close this issue

[2016-07-14 18:40] axic commented on #107
browser-solidity is fixed with this PR https://github.com/ethereum/browser-solidity/pull/130

[2016-07-27 09:27] axic commented on #41
I think browser-solidity should follow the [style guide](http://solidity.readthedocs.io/en/latest/style-guide.html#indentation): it recommends 4 spaces.

See https://github.com/ethereum/browser-solidity/issues/144

[2016-07-27 09:30] axic commented on #104
This should be fixed since `eth_estimateGas` is called before execution and also there is an option in the UI to set a gas limit.

[2016-07-27 09:30] axic commented on #44
Tracked in https://github.com/ethereum/browser-solidity/issues/101.

[2016-07-27 12:12] #41 closed, assigned to nobody

[2016-07-27 12:13] #44 closed, assigned to nobody

[2016-07-27 12:29] chriseth commented on #104
Please reopen if the issue persists.

[2016-07-27 12:29] #104 closed, assigned to nobody

[2016-07-27 12:30] #107 closed, assigned to nobody

[2016-07-27 15:55] axic commented on #72
This seems to be working for the last couple of months.

[2016-07-27 15:57] axic commented on #51
The gas costs issues are fixed.  The option to do them as a call is tracked at https://github.com/ethereum/browser-solidity/issues/146.

[2016-07-27 15:59] axic commented on #96
@chriseth since we have warnings now in Solidity, I think this bug should be added and tracked in https://github.com/ethereum/solidity

[2016-07-27 16:07] axic commented on #123
I think this probably was resolved by https://github.com/ethereum/solidity/pull/536.

[2016-07-27 16:08] #123 closed, assigned to nobody

[2016-07-27 16:08] axic commented on #134
@ealkalai can you elaborate please with examples? Is it still reproducible?

[2016-07-27 16:11] #51 closed, assigned to nobody

[2016-07-27 16:11] #56 closed, assigned to nobody

[2016-07-27 16:12] #147 closed, assigned to nobody

[2016-07-27 16:14] chriseth commented on #96
Yes, it's here: https://github.com/ethereum/solidity/issues/647

[2016-07-27 16:14] #96 closed, assigned to nobody

[2016-07-27 16:19] axic commented on #101
@aakilfernandes is this still a problem?

[2016-07-27 16:20] axic commented on #103
@dominicwilliams if the problem still persists, can you please report it to https://github.com/ethereum/solidity?

[2016-07-27 16:21] axic commented on #152
@chriseth so basically you're looking for a more user-friendly presentation of the gas estimator output?

[2016-07-27 16:26] axic commented on #115
@aakilfernandes It needs to be browserified. Instructions are here: https://github.com/ethereum/browser-solidity#building

The latest version also creates a ZIP file with every commit, available here: https://github.com/ethereum/browser-solidity/tree/gh-pages

[2016-07-27 16:26] #115 closed, assigned to nobody

[2016-07-27 16:27] axic commented on #112
The solution to remove is explained here: https://github.com/ajaxorg/ace/issues/36#issuecomment-6941120

[2016-07-27 16:29] #72 closed, assigned to nobody

[2016-07-27 16:35] axic commented on #165
This would shadow ctrl-d (bookmark).  Would ctrl-shift-d be better?

[2016-07-27 18:18] aakilfernandes commented on #101
Nope! closing

[2016-07-27 18:18] #101 closed, assigned to nobody

[2016-07-27 18:24] axic commented on #146
@ricmoo is this still an issue? Did you find a solution? Perhaps you could reopen this bug in ethereum/solidity with keeping a link to here. Otherwise please close.

Make sure to you have tested this:

[2016-07-27 18:25] axic commented on #86
@ethernomad I cannot reproduce this issue. Please reopen in https://github.com/ethereum/browser-solidity if it still persists.

[2016-07-27 18:25] #86 closed, assigned to nobody

[2016-07-27 18:27] axic commented on #165
This is tracked in https://github.com/ethereum/browser-solidity/issues/147.

[2016-07-27 18:27] #165 closed, assigned to nobody

[2016-07-27 21:41] axic commented on #109
This is tracked now in https://github.com/ethereum/browser-solidity/issues/150.

[2016-07-27 21:41] #109 closed, assigned to nobody

[2016-07-28 06:51] chriseth commented on #61
Replaced by https://github.com/ethereum/browser-solidity/issues/152

[2016-07-28 06:51] #61 closed, assigned to nobody

[2016-07-28 06:53] chriseth commented on #70
Replaced by https://github.com/ethereum/browser-solidity/issues/153

[2016-07-28 06:53] #70 closed, assigned to nobody

[2016-07-31 10:34] axic commented on #166
Tracked in https://github.com/ethereum/browser-solidity/issues/160

[2016-07-31 10:34] #166 closed, assigned to nobody

[2016-08-01 09:21] chriseth commented on #152
Yes, but this should also be a special warning as part of the static analysis tab.

[2016-08-01 09:22] chriseth commented on #152
Moved: https://github.com/ethereum/browser-solidity/issues/162

[2016-08-01 09:22] #152 closed, assigned to nobody

[2016-08-01 09:24] #112 closed, assigned to axic

[2016-08-01 09:46] axic commented on #160
Fixed in https://github.com/ethereum/browser-solidity/pull/148

[2016-08-01 09:46] #160 closed, assigned to nobody

[2016-08-01 13:39] #103 closed, assigned to nobody

[2016-08-01 13:40] #134 closed, assigned to nobody

[2016-08-01 13:40] #146 closed, assigned to nobody

[2016-08-01 19:06] axic commented on #167
This is tracked now in https://github.com/ethereum/solc-js/issues/34.

[2016-08-01 19:06] #167 closed, assigned to nobody

[2016-08-07 07:10] duaraghav8 opened #171 "Integrating a linter"
Hi,
I recently published my little project [Solium](https://github.com/duaraghav8/Solium) - A command-line based linter for Solidity with hot loading.

Some good soul suggested that I make it browser compatible and make a PR to integrate it with browser-solidity.

Would you be interested in it?
Please feel free to check out the project and let me know-
`npm install -g solium`

[2016-08-07 07:43] #171 closed, assigned to nobody

[2016-08-11 16:33] #77 closed, assigned to axic

[2016-08-12 02:49] brendan87 commented on #104
I'm seeing the intrinsic gas too low for the following simple contract. I can add new members to the array but when I try to run "removeHolder" it appears.

[code]

Note that this is when connected to a local geth node (1.5.0-unstable), and does not occur when running on the browser javascript vm.

[2018-01-04 02:28] chris-shyft commented on #82
@axic @chriseth

Hi guys :) Curious if you've updated the script since. That reference link doesn't work and I'd like to work on a solc modification to include a couple opcode translations that can be integrated w/ remix and the ethereumjs-vm projects.
#ihaventtriedthatscriptyetanditlooksscary

[2018-01-04 10:03] chriseth commented on #82
The script got much shorter and we now use the emscripten compiler shipped via a docker image.
You need to run https://github.com/ethereum/solidity/blob/develop/scripts/build_emscripten.sh and perhaps use `docker pull trzeci/emscripten:sdk-tag-1.35.4-64bit` before you run it.

[2018-01-24 13:25] Annammal commented on #95
creation of PresalePool errored: Error encoding arguments: SyntaxError: Unexpected token x in JSON at position 112 in Remix. How to run the PresalePool.sol into the Remix . or is there other possibility to run the contract?

[2018-01-24 13:25] Annammal commented on #95
SyntaxError: Unexpected token x in JSON at position 112 in Remix

[2018-01-30 04:12] stvenyin commented on #95
hello, my Contract source code:
pragma solidity ^0.4.11;

/**
 * @title Ownable
 * @dev The Ownable contract has an owner address, and provides basic authorization control
 * functions, this simplifies the implementation of "user permissions".
 */
contract Ownable {
  address public owner;

  function Ownable() {
    owner = msg.sender;
  }

  modifier onlyOwner() {
    if (msg.sender != owner) {

[2018-01-30 04:19] stvenyin commented on #95
multisend(address _tokenAddr, address[] dests, uint256[] values)
i.m user multisend("0xca35b7d915458ef540ade6068dfe2f44e8fa733c","0xca35b7d915458ef540ade6068dfe2f44e8fa733c","1000000000000000000") singal send on JavaScript VM Test Network

[2018-01-30 06:04] Annammal commented on #95
Hi, you have to wrap params with double quotes, that is going to be fixed soon. I think this will work multisend("0xca35b7d915458ef540ade6068dfe2f44e8fa733c",["0xca35b7d915458ef540ade6068dfe2f44e8fa733c","0xca35b7d915458ef540ade6068dfe2f44e8fa733c"],[10000000,2000000])

[2018-02-03 13:11] stvenyin commented on #95
i'm use multisend("0xf2003f3d5bde0f8f3bb6f5689db68827588a8830",["0xf2003f3d5bde0f8f3bb6f5689db68827588a8830","0xf2003f3d5bde0f8f3bb6f5689db68827588a8830"],[1000000,2000000000])

Appeares it:

transact to StandardToken.multisend pending ...
transact to StandardToken.multisend errored: Error: gas required exceeds allowance or always failing transaction
    at chrome-extension://nkbihfbeogaeaoehlefnk